@import "./../../../../styles/mixin.scss";

.nav { 
    @include flex(row, space-between, center, nowrap);
    width: 100%;
    height: 100%;
    position: relative;
    a{
        position: relative;
        text-align: center;
        text-decoration: none;
        margin: 5px 0px;
    }
}