$white: #ffffff;
$dark: #363636;
$dark30: #3636364D;
$black10: #EBEBEB;
$black20: #BFC4C9;
$black40: #A7A7A7;
$black70: #727272;
$black5: #F9F9FA;
$accentColor: #FF5253;
$pullOutColor:  linear-gradient(180deg, #f83600 0%, #f9d423 100%);
$btnPressedColor:  linear-gradient(180deg, #f83600, #f9d423);
$btnHoverColor:  linear-gradient(90deg, #f83600, #f9d423);
$warningColor: #FFBC1F;
$positiveColor: #00CA71;
$negativeColor: #F42C4F;
$positiveBgColor: #EBF9F1;
$negativeBgColor: #FEEBEA;

